a(href='/')
  button() Back

h1=title
table
  tr
    td: b Number
    td=result.CUSNUM
  tr
    td: b Last Name
    td=result.LSTNAM
  tr
    td: b Initial
    td=result.INIT
  tr
    td: b Street
    td=result.STREET
  tr
    td: b City
    td= result.CITY
  tr
    td: b State
    td= result.STATE
